.card {
    min-width: 16.5rem;
    max-width: 17rem;
    margin: 0.25em;
    border: 1px solid;
}

.card p {
    color: #000;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.hero,
#stage {
    margin-top: 25px;
}