.container {
    margin: 3vw 10vw;
    display: block;
}

#dice_6,
#character-board {
    border: 1px solid #000;
    padding: 15px;
    width: 250px;

}

#character-board {
    height: 350px;

}

#dice_6 {

    height: 50px;
}