.container {

    display: block;
}

#dice_results,
#character-board {

    padding: 15px;
    width: 250px;

}

#character-board {
    height: 250px;

}

#dice_6 {

    height: 50px;
}
/* #main-board{
    height: 500px;
    background-size: cover;
    background: url(/29ef1e5c-cb67-4ad7-bf0d-ef067f764e4b.94429bfe.jpeg) no-repeat;
} */